apiVersion: v1
kind: ConfigMap
metadata:
  name: flink-config
  namespace: flink-statefun-tasks-demo
  labels:
    app: flink-statefun
data:
  config.yaml: |-
    statefun.flink-job-name: Flink Statefun Tasks Demo

    #==============================================================================
    # Configurations strictly required by Stateful Functions. Do not change.
    #==============================================================================
    classloader.parent-first-patterns.additional: org.apache.flink.statefun;org.apache.kafka;com.google.protobuf
    jobmanager.rpc.address: flink-statefun-jobmanager
    blob.server.port: 6124
    jobmanager.rpc.port: 6123
    taskmanager.rpc.port: 6122
    queryable-state.proxy.ports: 6125

    #==============================================================================
    # Fault tolerance, checkpointing and recovery.
    # For more related configuration options, please see: https://ci.apache.org/projects/flink/flink-docs-master/ops/config.html#fault-tolerance
    #==============================================================================

    #execution.checkpointing.mode: AT_LEAST_ONCE
    #execution.checkpointing.interval: 120sec
    #execution.checkpointing.min-pause: 120sec

    state.backend.local-recovery: true
    state.backend.rocksdb.timer-service.factory: ROCKSDB
    state.backend.rocksdb.localdir: /local/state/rocksdb
    state.backend.rocksdb.memory.partitioned-index-filters: true
    state.backend.rocksdb.checkpoint.transfer.thread.num: 8
    state.backend.rocksdb.thread.num: 4

    state.backend.type: rocksdb
    state.checkpoints.dir: file:///var/run/flink
    execution.checkpointing.incremental: true

    taskmanager.state.local.root-dirs: file:///local/state/recovery

    statefun.async.max-per-task: 10240
    taskmanager.numberOfTaskSlots: 1
    parallelism.default: 2

    taskmanager.memory.task.off-heap.size: 512mb

    #==============================================================================
    # Recommended memory configurations. Users may change according to their needs.
    #==============================================================================

    jobmanager.memory.process.size: 1g
    taskmanager.memory.flink.size: 7g

    #==============================================================================
    # Support easy upgrades as the module.yaml file updates
    #==============================================================================

    pipeline.auto-generate-uids: false
    execution.savepoint.ignore-unclaimed-state: true

    execution.buffer-timeout: 10 ms
---
apiVersion: v1
kind: Service
metadata:
  name: flink-statefun-jobmanager
  namespace: flink-statefun-tasks-demo
  labels:
      app: flink-statefun
      component: jobmanager
spec:
  ports:
    - name: rpc
      port: 6123
    - name: blob-server
      port: 6124
    - name: webui
      port: 8081
  selector:
      app: flink-statefun
      component: jobmanager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-statefun-jobmanager
  namespace: flink-statefun-tasks-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink-statefun
      component: jobmanager
  template:
    metadata:
      labels:
        app: flink-statefun
        component: jobmanager
    spec:
      containers:
      - name: jobmanager
        image: fransking/flink-statefun-tasks:3.4.0
        imagePullPolicy: IfNotPresent
        env:
          - name: ROLE
            value: master
          - name: MASTER_HOST
            value: flink-statefun-jobmanager
        ports:
          - containerPort: 6123
          - containerPort: 6124
          - containerPort: 8081
        volumeMounts:
          - name: flink-statefun-config-volume
            mountPath: /opt/statefun/modules/tasks/
          - name: flink-config-volume
            mountPath: /opt/flink/conf/config.yaml
            subPath: config.yaml
      volumes:
        - name: flink-statefun-config-volume
          configMap:
            name: flink-statefun-config
            items:
            - key: module.yaml
              path: module.yaml
        - name: flink-config-volume
          configMap:
            name: flink-config
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-statefun-taskmanager
  namespace: flink-statefun-tasks-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flink-statefun
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink-statefun
        component: taskmanager
    spec:
      containers:
      - name: taskmanager
        image: fransking/flink-statefun-tasks:3.4.0
        imagePullPolicy: IfNotPresent
        env:
          - name: ROLE
            value: worker
          - name: MASTER_HOST
            value: flink-statefun-jobmanager
        ports:
          - containerPort: 6121
          - containerPort: 6122
        volumeMounts:
          - name: flink-statefun-config-volume
            mountPath: /opt/statefun/modules/tasks/
          - name: flink-config-volume
            mountPath: /opt/flink/conf/config.yaml
            subPath: config.yaml
      volumes:
        - name: flink-statefun-config-volume
          configMap:
            name: flink-statefun-config
            items:
            - key: module.yaml
              path: module.yaml
        - name: flink-config-volume
          configMap:
            name: flink-config
